[Unit]
Description=Récupèrer les données de la batterie
[Service]
Type=oneshot
ExecStart=/bin/bash /path/to/the/same/directory/as/main.py/bat-data.sh # Change it


